.icon{
    width: 500px;
    height: 400px;
    color: green;
    border-color: black;
}

.myclass + label {
    font-size: 2em;
    font-weight: 700;
    color: white;
    background-color: green;
    border-radius: 10px;
    display: inline-block;
}

.myclass:focus + label,
.myclass + label:hover {
    background-color: purple;
}
.myclass {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.face{
    margin: auto;
}